{% extends "admin/base_login.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

    <div class="login-box">
  <div class="login-logo">
    <a href="{% url 'admin:index' %}"><b>Health</b>at<b>Home</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-group has-feedback">
          {{ form.username.errors }}
        <input name="{{ form.username.name }}" class="form-control" placeholder="{{ form.username.label }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          {{ form.password.errors }}
        <input type="password" class="form-control"  name="{{ form.password.name }}">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="row">
        <div class="col-xs-8">
          {% url 'admin_password_reset' as password_reset_url %}

            {% if password_reset_url %}
              <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
              </div>
              {% endif %}

        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary btn-block btn-flat" />
        </div>
        <!-- /.col -->
      </div>
    </form>


  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


{% endblock %}
